/*-----Section-1 -----*/

.section1 {
  display: flex;
  justify-content: left;
  align-items: center;
  font-family: "Poppins", sans-serif;
  margin: 20px 80px;
}

.set1-box {
  width: 60%;
  margin-left: 100px;
  margin-bottom: 50px;
}

.set2-box img {
  width: 510px;
  height: 480px;
  margin-left: 200px;
  margin-top: 20px;
}

.set1-box h1 {
  font-size: 37px;
  margin-bottom: 25px;
}

.set1-box h3 {
  font-size: medium;
  line-height: 30px;
}

/*-----Section-2 -----*/

.section2 {
  margin: 20px 40px 20px 100px;
}

.cards {
  width: 20%;
  border-radius: 15px;
  border: 2px solid black;
  display: inline-block;
  margin: 20px 60px 10px 0px;
  min-height: 25vh;
  align-items: center;
}

.card {
  text-align: center;
}

.img1 {
  width: 50%;
}
.img2 {
  width: 57%;
  border-radius: 80px;
  padding: 15px;
}

.img3 {
  width: 41.5%;
  padding: 15px;
  border-radius: 30px;
}
